body{
    /* background: url("/assets/armyrecruitment/image/banner-2.jpg") no-repeat center center/cover; */
    height: 100vh !important;
    /* background-size: cover !important; */
}
.container.my-4{
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    background: url("/assets/armyrecruitment/image/banner-2.jpg") no-repeat center center/cover !important;
}
.navbar{
    display: none;
}
.web-footer{
    display: none;
}
header{
    background-color: #fff;
}
.logo-text {
    font-family: 'Sacramento', cursive;
    font-size: 2rem; /* Adjust size */
    font-weight: 800; /* Semi-bold for emphasis */
    color: rgb(39, 42, 45); /* Custom brand color */
  }

  .need-help{
    background-color: rgb(180, 0, -0); 
  }
.print-btn::before{
    content: "Print";
}
.print-btn{
    background-color: rgb(180, 0, -0) !important;
    color: #fff !important;
    padding: 10px 20px !important;
    font-weight: bold;
}
.icon > use{
    fill: #fff !important
}
.nav-link{
    color: #000;
    font-size: 1rem;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
  }
  .nav-link:hover{
    color: rgb(180, 0, -0);;
  }